/ Modal
#user-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "registerModalLabel", :role => "dialog", :tabindex => "-1"}
%button.btn.btn-primary.btn-lg{"data-target" => "#user-modal", "data-toggle" => "modal", :type => "button", :id => 'open-modal', :style => "display: none;"}  


