= render 'shared/header', :chapters => false
.content-box
  .panel-smart.english
    %br
    .panel-heading
      .panel-title
        About Us 
    .panel-body    
      %p
        Semitic Heritage' Genesis and Exodus Project aims to share some of the most meaningful indigenous literary classics of the ancient Near East with the present-day indigenous inhabitants of the same region by uniquely paginating the first two books of the Hebrew Bible into interlinear Arabic – Hebrew-Aramaic - with audio options for weekly distribution on Arab streets, intersections, villages and cities of the West Bank and online to any Arabic communities of the region.
      %p
        Because the texts of Genesis and Exodus evolved and matured over a thousand years of continued civil and literary engagement spanning major epochal transitions, its unique multigenerational multilayered structure has the potential to engage the imagination of the Arab world as it undergoes one of its own major transition periods.
      %p
        The books of Genesis and Exodus tell the quintessential myth of the Shemite - Semitic lineage and tribes. Though quoted extensively in Qoranic literature, nonetheless the Arab Semite tribes living in the biblical lands of Israel, West Bank, Gaza, Sinai, Jordan and Arabia, from their leaders down, are unfamiliar with much of the source material. There is almost entire pedagogical censorship of the Hebraic roots of Islam in Islamic educational curricula; the shared heritage of Jews and Arabs is mute, and in the absence of any substantial efforts to share this indigenous heritage it could disappear.
      %p
        Considering the daily presence of Arabic people in the fields, valleys and hilltops where many of the Genesis stories were said to have taken place, considering their self-proclaimed identity as Semites against a backdrop of an exhausted and discordant Islami-Arabic identity, the Genesis and Exodus Semitic Heritage Project conceivably lends a more genuine set of myths and symbols to local Arabs as they reimagine and reconstruct their identities and cultivate and explore indigenous participation in Israel.
      %p
        The Genesis and Exodus Semitic Heritage Project is especially appropriate now as Israeli and West Bank Arabs increasingly feel that the Quranic message - originating in far away Saudi Arabia - does not reflect an indigenous voice and may be an obstacle to local accord with Israel. The related Genesis traditions in the Hebrew Bible, on the other hand, reflect the subtlety of the Near East region, conceivably taking place in their own back fields, the stories relay local customs, agricultural and seasonal nuances as well as expressions of local psycho-spacial ideas, furnishing the Arab and Islamic reader with a genuine, multilayered expressive narrative and set of symbolic and literary instruments for conceptual engagement with the other.
      %p
        Muhamad himself adopted the Hebrew Bible as the theological, mythological and moral canvas upon which the Quran was later crafted. As Mohamad did, so too can modern Arabs reconstruct their identities invariably together with modern Israel. The ancient Hebrew rendition of the stories of the patriarchs, those recorded and scribed in manuscript at least a thousand years before they were read to Muhamed and retold to his companions and recorded in the Quran, can offer the modern Arab an exciting prequel into the origins of their nation and religion and poetically illuminate the shared origins of the Semites, Abramites, Israelites and Arabs amongst other families of nations - destined to unite in harmony within a local context. The act of sharing this classic of ancient Near Eastern literature delivers a resounding message of authenticity to the Arab imagination and provides a plethora of symbolic constructs for shared, complimentary identities to emerge.
      %p
        The Genesis and Exodus Semitic Heritage Project and the Tanachic literature in general may in time become increasingly attractive to the Arab reader as its literary effect resonates with neighbours increasingly disenchanted by the singularity of Islam and the prevailing failed Arabic narrative. These readers will be in good stead to cultivate the socio-theological contours of a shared narrative for more healthy regional engagement and cooperation.
      %p
        It is my hope that thru this project Arab readers of the Land of Israel will again treasure the oldest intact records of their own Semitic heritage and they will share this treasure with their brethren in the mosques from Haleb, Bagdad, Mecca and finally Medina as much as they are loved and cherished in the synagogues of Jerusalem.
      %p
        Avrum Ehrlich
        %br
        Jerusalem
      %br
      .sub-title   
        Notes on Editing, Format and Distribution
      %ul
        %li
          Interlinear Hebrew, Arabic, Aramaic, English, Commentary.
          %br
          Audio Arabic and Hebrew
        %li
          Even though Aramaic is not currently widely spoken, its inclusion is important as it is a linguistic pillar along with Hebrew of the Semitic heritage.
        %li
          For the purpose of drawing public interest the Books of Genesis and Exodus are broken up into 52 portions telling the accounts, genealogies, stories in their exact original form but divided into small readable pieces distributed in a weekly digest to correspond with the weeks and seasons of the year.
        %li
          Paper form for easy distribution and maximum street presence.
        %li
          Distributed weekly, every friday, by volunteers around the country.
        %li
          Primary places of distribution are the streets and public areas of Arab speaking communities in Israel and further abroad.
        %li
          Volunteers print copies straight from the online resource.
        %li
          Online digital resources including mobile app, interactive audio, visual, text and more.
        %li
          The interlinear pagination provides a unique way for Illiterate young Bedouin to learn Hebrew (or Arabic) by listening and following along in Hebrew and Arabic.
        %li
          Key words: Torah in Arabic, Semitic Heritage, Semitic Roots of Arabs and Jews, Israel - Arab Relations, Arab Zionism, Arab identity, Books of Genesis and Exodus in Arabic, Adam, Noah, Shem, Terach, Abraham, Isaac, Ishmael, Jacob, Esau, Children of Israel.
      .sub-title
        Structure
      %br
      Editor-in-Chief
      %ul
        %li
          Avrum Ehrlich
          %br
          avrum.ehrlich@gmail.com
      Advisory Board
      %ul
        %li
          Anonymous
        %li
          Anonymous
        %li 
          Anonymous
      Editorial Board
      %ul
        %li
          Maya Sandovsky (Programming and Design)
      %br
      %br
