.content-box
  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      בחר את פרשה שברצונך לקרוא
      %span.caret
    %ul.dropdown-menu
      %li
        בראשית - 1
      %li
        בראשית - 2
  %br
  .row
    .col-sm-6.pull-right
      %br
      %br
      %br
      %br
      = link_to nil do 
        %i.fa.fa-volume-up
      %p     
        1. في البدء خلق الله السموات والارض. 
        %br
        2. وكانت الارض خربة وخالية وعلى وجه الغمر ظلمة وروح الله يرف على وجه المياه. 
        %br
        3. وقال الله ليكن نور فكان نور.  
        %br
        4. وراى الله النور انه حسن. وفصل الله بين النور والظلمة. 
        %br
        5. ودعا الله النور نهارا والظلمة دعاها ليلا. وكان مساء وكان صباح يوما واحدا  
        %br
        6. وقال الله ليكن جلد في وسط المياه. وليكن فاصلا بين مياه ومياه. 
        %br
        7. فعمل الله الجلد وفصل بين المياه التي تحت الجلد والمياه التي فوق الجلد. وكان كذلك. 
        %br
        8. ودعا الله الجلد سماء. وكان مساء وكان صباح يوما ثانيا  
        %br
        9. وقال الله لتجتمع المياه تحت السماء الى مكان واحد ولتظهر اليابسة. وكان كذلك.
        %br
        10. ودعا الله اليابسة ارضا. ومجتمع المياه دعاه بحارا. ورأى الله ذلك انه حسن.  
        %br
        11. وقال الله لتنبت الارض عشبا وبقلا يبزر بزرا وشجرا ذا ثمر يعمل ثمرا كجنسه بزره فيه على الارض. وكان كذلك.  
        %br
        12. فاخرجت الارض عشبا وبقلا يبزر بزرا كجنسه وشجرا يعمل ثمرا بزره فيه كجنسه. ورأى الله ذلك انه حسن.  
        %br
        15. وكان مساء وكان صباح يوما ثالثا 
        %br
        14. وقال الله لتكن انوار في جلد السماء لتفصل بين النهار والليل. وتكون لآيات واوقات وايام وسنين. 
        %br
        16. وتكون انوارا في جلد السماء لتنير على الارض. وكان كذلك. 
        فعمل الله النورين العظيمين. النور الاكبر لحكم النهار والنور الاصغر لحكم الليل. والنجوم. 
        %br
        17. وجعلها الله في جلد السماء لتنير على الارض 
        %br
        18. ولتحكم على النهار والليل ولتفصل بين النور والظلمة. ورأى الله ذلك انه حسن. 
        %br
        19. وكان مساء وكان صباح يوما رابعا  
        %br
        20. وقال الله لتفض المياه زحافات ذات نفس حية وليطر طير فوق الارض على وجه جلد السماء.  
        فخلق الله التنانين العظام وكل ذوات الانفس الحية الدبّابة التي فاضت بها المياه كاجناسها 
        %br
        21. وكل طائر ذي جناح كجنسه. ورأى الله ذلك انه حسن. 
        %br
        22. وباركها الله قائلا اثمري واكثري واملإي المياه في البحار. وليكثر الطير على الارض.  
    .col-sm-6.pull-right
      / Tabs Starts
      .tabs-panel
        / Nav Tabs Starts
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "#tab-hebrow", "data-toggle" => "tab"} עברית
          %li
            %a{:href => "#tab-english", "data-toggle" => "tab"} English
          %li
            %a{:href => "#tab-interpretation", "data-toggle" => "tab"} פירוש           
        / Nav Tabs Ends
        / Tab Content Starts
        .tab-content.clearfix
          / Hebrow Starts
          #tab-hebrow.tab-pane.active              
            %p              
              1. בְּרֵאשִׁית בָּרָא אֱלֹהִים אֵת הַשָּׁמַיִם וְאֵת הָאָרֶץ׃ 
              וְהָאָרֶץ הָיְתָה תֹהוּ וָבֹהוּ וְחֹשֶׁךְ עַל־פְּנֵי תְהֹום וְרוּחַ אֱלֹהִים 
              %br
              2. מְרַחֶפֶת עַל־פְּנֵי הַמָּיִם׃ 
              %br
              3. וַיֹּאמֶר אֱלֹהִים יְהִי אֹור וַיְהִי־אֹור׃ 
              %br
              4. וַיַּרְא אֱלֹהִים אֶת־הָאֹור כִּי־טֹוב וַיַּבְדֵּל אֱלֹהִים בֵּין הָאֹור וּבֵין הַחֹשֶׁךְ׃ 
              %br
              5. וַיִּקְרָא אֱלֹהִים ׀ לָאֹור יֹום וְלַחֹשֶׁךְ קָרָא לָיְלָה וַיְהִי־עֶרֶב וַיְהִי־בֹקֶר יֹום אֶחָד׃ פ 
              %br
              6. וַיֹּאמֶר אֱלֹהִים יְהִי רָקִיעַ בְּתֹוךְ הַמָּיִם וִיהִי מַבְדִּיל בֵּין מַיִם לָמָיִם׃ 
              %br
              7. וַיַּעַשׂ אֱלֹהִים אֶת־הָרָקִיעַ וַיַּבְדֵּל בֵּין הַמַּיִם אֲשֶׁר מִתַּחַת לָרָקִיעַ וּבֵין הַמַּיִם אֲשֶׁר מֵעַל לָרָקִיעַ וַיְהִי־כֵן׃ 
              %br
              8. וַיִּקְרָא אֱלֹהִים לָרָקִיעַ שָׁמָיִם וַיְהִי־עֶרֶב וַיְהִי־בֹקֶר יֹום שֵׁנִי׃ פ 
              %br
              9. וַיֹּאמֶר אֱלֹהִים יִקָּווּ הַמַּיִם מִתַּחַת הַשָּׁמַיִם אֶל־מָקֹום אֶחָד וְתֵרָאֶה הַיַּבָּשָׁה וַיְהִי־כֵן׃  
              %br
              10. וַיִּקְרָא אֱלֹהִים ׀ לַיַּבָּשָׁה אֶרֶץ וּלְמִקְוֵה הַמַּיִם קָרָא יַמִּים וַיַּרְא אֱלֹהִים כִּי־טֹוב׃  
              %br
              11. וַיֹּאמֶר אֱלֹהִים תַּדְשֵׁא הָאָרֶץ דֶּשֶׁא עֵשֶׂב מַזְרִיעַ זֶרַע עֵץ פְּרִי עֹשֶׂה פְּרִי לְמִינֹו אֲשֶׁר זַרְעֹו־בֹו עַל־הָאָרֶץ וַיְהִי־כֵן׃ 
              %br
              12. וַתֹּוצֵא הָאָרֶץ דֶּשֶׁא עֵשֶׂב מַזְרִיעַ זֶרַע לְמִינֵהוּ וְעֵץ עֹשֶׂה־פְּרִי אֲשֶׁר זַרְעֹו־בֹו לְמִינֵהוּ וַיַּרְא אֱלֹהִים כִּי־טֹוב׃  
              %br
              13. וַיְהִי־עֶרֶב וַיְהִי־בֹקֶר יֹום שְׁלִישִׁי׃ פ  
              %br
              14. וַיֹּאמֶר אֱלֹהִים יְהִי מְאֹרֹת בִּרְקִיעַ הַשָּׁמַיִם לְהַבְדִּיל בֵּין הַיֹּום וּבֵין הַלָּיְלָה וְהָיוּ לְאֹתֹת וּלְמֹועֲדִים וּלְיָמִים וְשָׁנִים׃ 
              %br
              15. וְהָיוּ לִמְאֹורֹת בִּרְקִיעַ הַשָּׁמַיִם לְהָאִיר עַל־הָאָרֶץ וַיְהִי־כֵן׃ 
              %br
              16. וַיַּעַשׂ אֱלֹהִים אֶת־שְׁנֵי הַמְּאֹרֹת הַגְּדֹלִים אֶת־הַמָּאֹור הַגָּדֹל לְמֶמְשֶׁלֶת הַיֹּום וְאֶת־הַמָּאֹור הַקָּטֹן לְמֶמְשֶׁלֶת הַלַּיְלָה וְאֵת הַכֹּוכָבִים׃ 
              %br
              17. וַיִּתֵּן אֹתָם אֱלֹהִים בִּרְקִיעַ הַשָּׁמָיִם לְהָאִיר עַל־הָאָרֶץ׃ 
              %br
              18. וְלִמְשֹׁל בַּיֹּום וּבַלַּיְלָה וּלֲהַבְדִּיל בֵּין הָאֹור וּבֵין הַחֹשֶׁךְ וַיַּרְא אֱלֹהִים כִּי־טֹוב׃ 
              %br
              19. וַיְהִי־עֶרֶב וַיְהִי־בֹקֶר יֹום רְבִיעִי׃ פ  
              %br
              20. וַיֹּאמֶר אֱלֹהִים יִשְׁרְצוּ הַמַּיִם שֶׁרֶץ נֶפֶשׁ חַיָּה וְעֹוף יְעֹופֵף עַל־הָאָרֶץ עַל־פְּנֵי רְקִיעַ הַשָּׁמָיִם׃ 
              %br
              21. וַיִּבְרָא אֱלֹהִים אֶת־הַתַּנִּינִם הַגְּדֹלִים וְאֵת כָּל־נֶפֶשׁ הַחַיָּה ׀ הָרֹמֶשֶׂת אֲשֶׁר שָׁרְצוּ הַמַּיִם לְמִינֵהֶם וְאֵת כָּל־עֹוף כָּנָף לְמִינֵהוּ וַיַּרְא אֱלֹהִים כִּי־טֹוב׃ 
              %br
              22. וַיְבָרֶךְ אֹתָם אֱלֹהִים לֵאמֹר פְּרוּ וּרְבוּ וּמִלְאוּ אֶת־הַמַּיִם בַּיַּמִּים וְהָעֹוף יִרֶב בָּאָרֶץ׃ 
          / Hebrow Ends
          / English Starts
          #tab-english.tab-pane
            %p.english
              1.  In the beginning God created the heavens and the earth.
              %br
              2.  The earth was formless and void, and darkness was over the surface of the deep, and the Spirit of God was moving over the surface of the waters.
              %br
              3.  Then God said, "Let there be light"; and there was light.
              %br
              4.  God saw that the light was good; and God separated the light from the darkness.
              %br
              5.  God called the light day, and the darkness He called night. And there was evening and there was morning, one day.
              %br
              6.  Then God said, "Let there be an expanse in the midst of the waters, and let it separate the waters from the waters."
              %br
              7.  God made the expanse, and separated the waters which were below the expanse from the waters which were above the expanse; and it was so.
              %br
              8.  God called the expanse heaven. And there was evening and there was morning, a second day.
              %br
              9.  Then God said, "Let the waters below the heavens be gathered into one place, and let the dry land appear"; and it was so.
              %br
              10.   God called the dry land earth, and the gathering of the waters He called seas; and God saw that it was good.
              %br
              11.   Then God said, "Let the earth sprout vegetation: plants yielding seed, and fruit trees on the earth bearing fruit after their kind with seed in them"; and it was so.
              %br
              12.   The earth brought forth vegetation, plants yielding seed after their kind, and trees bearing fruit with seed in them, after their kind; and God saw that it was good.
              %br
              13.   There was evening and there was morning, a third day.
              %br
              14.   Then God said, "Let there be lights in the expanse of the heavens to separate the day from the night, and let them be for signs and for seasons and for days and years;
              %br
              15.   and let them be for lights in the expanse of the heavens to give light on the earth"; and it was so.
              %br
              16.   God made the two great lights, the greater light to govern the day, and the lesser light to govern the night; He made the stars also.
              %br
              17.   God placed them in the expanse of the heavens to give light on the earth,
              %br
              18.   and to govern the day and the night, and to separate the light from the darkness; and God saw that it was good.
              %br
              19.   There was evening and there was morning, a fourth day.
              %br
              20.   Then God said, "Let the waters teem with swarms of living creatures, and let birds fly above the earth in the open expanse of the heavens."
              %br
              21.   God created the great sea monsters and every living creature that moves, with which the waters swarmed after their kind, and every winged bird after its kind; and God saw that it was good.
          / English Ends
          /  Interpretation start
          #tab-interpretation.tab-pane
          / Interpretation End
        / Tab Content Ends
      / Tabs Ends           