body {
  font-size: 12px;
}

#header {
  position: relative;
}

.col-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
}

.image {
  max-width: 100%;
  height: auto; 
  display: block;
}

.col-2 {
  padding-left: 2px;
  float: right;
  width: 49%;
}

.col-3 {
  padding-left: 2px;
  float: right;
  width: 33%;
}

.col-4 {
  padding-left: 2px;
  float: right;
  width: 24%;
}

/* line hight*/
.sentence
{
    /* page-break-inside: avoid !important; <-- doesn't work*/
    display:inline-block;
}
.sentence:after
 {
    display:block;
    height:0px;
    visibility: hidden;
}

.sentence:before { 
  clear:both; 
}

.one-line {
  height: 23px;
}   

.two-lines {
  height: 38px;
} 

.three-lines {
  height: 53px;
}

.four-lines {
  height: 68px;
}

.five-lines {
  height: 83px;
  page-break-inside: avoid !important;
}

/* english */
.english {
  direction:LTR !important;
  text-align: left !important;
  font-size: 10px;
}

  .header-content-div-header {
    top: 10%;
    right: 5%;
    width: 90%;
    line-height: 1.3;
    font-size: 35px;
    position: absolute;
    color:  black;
    text-shadow: -1px 1px 5px white, -1px 1px 5px white, 1px -1px 5px white, 1px -1px 5px white;      
  }

  .header-content-div-text {
    top: 55%;
    left: 5%;
    width: 50%;
    line-height: 1.3;
    font-size: 18px;
    position: absolute;
    color:  black;
    text-shadow: -1px 1px 5px white, -1px 1px 5px white, 1px -1px 5px white, 1px -1px 5px white;      
  }